.col{
    height: 100px;
    width: 200px;
    border:black 3px solid;
}
.c0{
    background-color: antiquewhite;
}
.c1{
    margin-left: 300px;
    margin-top: -106px;
    background-color: aqua;
}
.c2{
    margin-left: 600px;
    margin-top: -106px;
    background-color: blueviolet;
}