@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=EB+Garamond&family=Island+Moments&family=Licorice&family=Lobster&family=Luxurious+Roman&family=Moon+Dance&family=Open+Sans+Condensed:wght@300&family=Orelega+One&family=PT+Serif&family=Roboto+Condensed:wght@300&family=The+Nautigal:wght@400;700&display=swap');
.row1{
    background-color: rgb(64, 4, 90);
    color: white;
    width: 100%;
    height: 33px;
    position:sticky;
    top: 0px;
}
i{
    margin-left: 100px;
}
.a1{
    font-size: 27px;
}
.a2{
    margin-left: 110px;
}
.a3{
    margin-left: 15px;
}
.a4{
    margin-left: 15px;
}
.a5{
    margin-left: 15px;
}
.a6{
    margin-left: 15px;
}
.row2{
    background-color: black;
    width: 100%;
    display: flex;
    
}
.col{
    width: 20%;
    border: 2px solid black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
}
h2{
    text-align: center;
}
img{
    width: 100%;
    height: 100px;
}
#a1{
    border: 1px solid white;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.a7{
    margin-left: 30px;
}
#a2{
    border: 1px solid white;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 21px;
}
#a3{
    border: 1px solid white;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 33px;
}
#a4{
    border: 1px solid white;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 22px;
}
#a5{
    border: 1px solid white;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 45px;
}